@charset "UTF-8";
@import url(../reset.css);
@import url(../user.css);
html {
  height: 100%;
}
body {
  background-image: url(backgrd.gif);
  background-color: #ffffff;
  min-width: 980px;
  min-height: 100%;
  padding: 8px;
}
a:link {
  color: #0000ff;
}
a:visited {
  color: #0000ff;
}
a:hover,
a:active {
  color: #0000ff;
}
.Font_1 {
  color: #000000;
  font-size: 9pt;
  font-family: Arial;
}
.Font_2 {
  color: #000000;
  font-size: 14pt;
  font-family: Arial;
  font-weight: bold;
}
.Font_3 {
  color: #000000;
  font-size: 10pt;
  font-family: Arial;
}
.Font_4 {
  color: #000000;
  font-size: 12pt;
  font-family: Arial;
}
.Font_5 {
  color: #000080;
  font-size: 18pt;
  font-family: Arial;
  font-weight: bold;
}
.Font_6 {
  color: #000080;
  font-size: 12pt;
  font-family: Arial;
  font-weight: bold;
}
.Font_7 {
  color: #000000;
  font-size: 8pt;
  font-family: Arial;
}
.Font_8 {
  color: #c0c0c0;
  font-size: 8pt;
  font-family: Arial;
}
.Background_1 {
  background-color: #ffffff;
}
.Border_1 {
  border-color: #000000;
}
.Border_2 {
  border-width: 1.5pt;
  border-style: double;
  border-color: #000000;
}
.Border_3 {
  border-bottom-width: 0.8pt;
  border-bottom-style: solid;
  border-left-color: #000000;
  border-top-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000080;
}
.Border_4 {
  border-bottom-width: 0.8pt;
  border-bottom-style: solid;
  border-left-color: #000000;
  border-top-color: #000080;
  border-right-color: #000000;
  border-bottom-color: #000080;
}
.Spacing_1 {
  margin-top: 0pt;
  margin-bottom: 0pt;
  line-height: normal;
}
